.signup-container{
    padding-top: 30px;
    background-color: #F9F9F9;
    margin: 100px auto;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #aaaaaa;
}
.conditions-of-use{
    font-size: 10px;
    padding-bottom: 20px;
}
.section-header{
    font-size: 18px;
    color: #468189;
}
.gap{
    padding: 15px 0;
    border-top:2px #468189 dot-dot-dash;
}