.reset-password-container{
    padding-top: 30px;
    background-color: #F9F9F9;
    margin: 100px auto;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #aaaaaa;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #97C4C4;
    margin: auto;
    box-shadow: 1px 1px 10px #aaaaaa;
    background-image: url("../../images/noun_Password Recovery_199778.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}
