@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);

.container{
    width: 85%;
    height: 550px;
    background-color: #F9F9F9;
    border-radius: 30px;
    margin: 30px auto 100px auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    overflow: hidden;
    font-size: 130%;
    box-shadow: 5px 5px 10px #aaaaaa;
}
.left-col{
    height: 100%;
    width: 15%;
    background-color: #34495E;
    border-radius: 30px;
    float: left;
}
.right-col{
    float: left;
    width: 85%;
    height: 100%;
}
.left-col-selectors{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #468189;
    background-color: #34495E;
    color: #eeeeee;
    transition: 0.2s;
    border-right: none;
    border-top: none;
    border-left: none;
}
.left-col-selectors:hover{
    border-left: 5px solid #468189;
    background-color: #344250;
}
.left-col-selectors-active{
    height: 40px;
    width: 100%;
    border-left: 5px solid #468189 !important;
    border-bottom: 1px solid #468189;
    background-color: #344250;
    color: #eeeeee;
    transition: 0.2s;
    border-right: none;
    border-top: none;
    border-left: none;
}
.left-col-selectors-active:focus{
    outline: none;
}
.left-col-selectors:focus{
    outline: none;
}
.logo{
    height: 17%;
    width: 100%;
    background-color: #468189;
    line-height: 90px;
    font-size: 45px;
}
.nav{
    background-color: #eeeeee;
    height: 17%;
    width: 100%;
    padding: 10px;
}
.inner-container{
    width: 100%;
    height: 85%;
    overflow: auto;
    float: left;
    padding: 10px 0;
}
.nav-container{
    width: 95%;
    height: 75px;
    /*border: 1px solid #468189;*/
    /*border-radius: 37.5px;*/
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
    transition: 0.4s;
}
.middle{
    float: left;
    /*border-left: 1px solid #468189;*/
    /*border-right: 1px solid #468189;*/
    /*border-bottom: 1px solid #468189;*/
    width: 16.75%;
    line-height: 75px;
}
.right{
    float: left;
    /*border-left: 1px solid #468189;*/
    /*border-bottom: 1px solid #468189;*/
    width: 16.5%;
    line-height: 75px;
}
.left{
    float: left;
    /*border-right: 1px solid #468189;*/
    /*border-bottom: 1px solid #468189;*/
    width: 16.5%;
    line-height: 75px;
}
.message-from{
    float: left;
    /*border-right: 1px solid #468189;*/
    width: 20%;
    line-height: 75px;
}
.message-name{
    float: left;
    /*border-left: 1px solid #468189;*/
    /*border-right: 1px solid #468189;*/
    width: 20%;
    line-height: 75px;
}
.message-thumbnail{
    float: left;
    /*border-left: 1px solid #468189;*/
    /*border-right: 1px solid #468189;*/
    width: 50%;
    line-height: 75px;
}
.message-condition{
    float: left;
    /*border-left: 1px solid #468189;*/
    /*border-bottom: 1px solid #468189;*/
    width: 10%;
    line-height: 75px;
}
