.container{
    width: 95%;
    height: 75px;
    border: 1px solid #468189;
    border-radius: 37.5px;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 2px 2px 6px #aaaaaa;

}
.container:hover{
    height: 400px;
    border-radius: 30px;
}
.middle{
    float: left;
    border-left: 1px solid #468189;
    border-right: 1px solid #468189;
    border-bottom: 1px solid #468189;
    width: 16.75%;
    line-height: 75px;
}
.right{
    float: left;
    border-left: 1px solid #468189;
    border-bottom: 1px solid #468189;
    width: 16.5%;
    line-height: 75px;
}
.left{
    float: left;
    border-right: 1px solid #468189;
    border-bottom: 1px solid #468189;
    width: 16.5%;
    line-height: 75px;
    cursor: pointer;
}
/*.costR{*/
    /**/
/*}*/
/*.costD{*/
/**/
/*}*/
/*.date{*/
/**/
/*}*/
/*.time{*/
/**/
/*}*/
/*.condition{*/
/**/
/*}*/
.more-info{
}
.break{
    clear: both;
}
.btn-container{
    height: 75px;
    width: 100%;
}
.accept{
    background-color: #97C4C4;
    border: 1px solid #97C4C4;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 17.5px;
    margin-left: 10%;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../../images/multiply.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s;
}
.reject{
    background-color: #97C4C4;
    border: 1px solid #97C4C4;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 17.5px;
    margin-left: 10%;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../../images/checked.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s;
}
.accept:hover{
    background-color: #F9F9F9;
    color: #97C4C4;
}
.reject:hover{
    background-color: #F9F9F9;
    color: #97C4C4;
}