<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

</head>

<body>
Rial : {{ customer.rial_wallet }}<br>
Dollar : {{ customer.dollar_wallet }}<br>
Euro : {{ customer.euro_wallet }}<br>
Karmozds: {{ karmozds.all }}<br>
khar
<br>
<div>
    <button>Order</button>
    <button>Messages</button>
    <button>Rial payments</button>
    <button>transactions</button>
    <button>user profile</button>
</div>
<div>
    info about order goes here
</div>
<div>
    info about messages go here
</div>
<div>
    info about rial payments go here
</div>
<div>
    info about transactions go here
</div>
<div>
    info about user profile goes here
</div>
<div id="test-check"></div>
</body>
</html>
