.login-input{
    margin-top: 20px;
    height: 20px;
    width: 85%;
    border: 2px solid #97C4C4;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
    transition: 0.3s;
}
.login-input:focus{
    outline: none;
    border: 2px solid rosybrown;
}