.container{
    padding: 10px;
    margin-left: 2.5%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    height: 300px;
    background-color: #eeeeee;
    border-radius: 30px;
    border: 1px solid #468189;
    float: left;
    cursor: pointer;
    box-shadow: #aaaaaa 3px 3px 8px;
}

.header{
    margin: 0 auto;
    font-size: 150%;
    color: #468189;
}
.image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 80%;
    width: 80%;
    margin: 10px auto;
    border-radius: 30px;
}