@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
.container{
    height: 500px;
    width: 30%;
    background-color: #F9F9F9;
    float: left;
    border-radius: 30px;
    margin: 1.5%;
    box-shadow: 3px 3px 8px #aaaaaa;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    overflow: hidden;
}
.pro-pic1{
    height: 150px;
    width: 150px;
    background-color: #97C4C4;
    box-shadow: 3px 3px 5px #aaaaaa;
    border-radius: 75px;
    margin: 30px auto;
    background-image: url("../../images/alireza.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.pro-pic2{
    height: 150px;
    width: 150px;
    background-color: #97C4C4;
    box-shadow: 3px 3px 5px #aaaaaa;
    border-radius: 75px;
    margin: 30px auto;
    background-image: url("../../images/amin.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.pro-pic3{
    height: 150px;
    width: 150px;
    background-color: #97C4C4;
    box-shadow: 3px 3px 5px #aaaaaa;
    border-radius: 75px;
    margin: 30px auto;
    background-image: url("../../images/reza.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.name{
    font-size: 180%;
    color: #468189;
}
.title{
    font-size: 130%;
}
.desc{
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 20px;
}
.github{
    width: 30%;
    float: left;
    height: 100%;
    margin: 0 1.5%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("../../images/github-logo.svg");
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.facebook{
    float: left;
    width: 30%;
    height: 100%;
    margin: 0 1.5%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("../../images/facebook-logo-in-circular-button-outlined-social-symbol.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}
.twitter{
    float: left;
    height: 100%;
    width: 30%;
    margin: 0 1.5%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("../../images/twitter-logo-silhouette.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.button-container{
    width: 45%;
    height: 40px;
    margin: 20px auto;
}
.town{
    margin-top: 20px;
    font-size: 130%;
}
.country{
    font-size: 130%;
    margin-bottom: 45px;
}